<div class="card-deck d-flex">
  <% @lists.each do |l| %>
  <div class="card", style="width: 18rem;">
    <% unless l.photo.nil? %>
    <%= cl_image_tag l.photo.key, class:"card-img-top" %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= l.name %></h5>
      <%= link_to "View", list_path(l) %>
    </div>
  </div>
  <% end %>
  </div>
